<div class="footer">
    Powered by <a href="https://gohugo.io/">Hugo</a> with
    <a href="https://github.com/mrmierzejewski/hugo-theme-console/">Console Theme</a>. 
</div>

{{ if .Params.katex}}{{ partial "katex.html" . }}{{ end }}
