{{ define "main" }}

<h1>About</h1>

<p>
I'm a PhD student at the Ruhr-University Bochum - <a href="http://www.lkm.rub.de/index.html.de">Chair of Continuum Mechanics</a>. <a href="about/">(more)</a>
</p>
<br/>

<h1>Talks</h1>

<div class="posts-list">
{{ with .Site.GetPage "/talks" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .Date.Format "Jan. 2, 2006" }} </div>
                <h2 style="margin-bottom: 0">{{ .Title }}</h2>
                in {{.Param "location"}} at <a href= {{.Param "conferencelink"}}>{{.Param "conference"}}</a>
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}<br>
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Latest photos</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}
